<div ng-controller="myAppSentieroCtrl" ng-cloak >
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text >
                                <span class="sm-headline">Sei in cammino sulla tappa della Competenza</span>
                    </md-card-title-text>
                </md-card-title>
                <div class="card-content">
                    <img  class="listaSentiero" ng-if="dati.utente.tappa=='Responsabilità'" ng-src="../images/responsabilita.jpg">
                    <img  class="listaSentiero" ng-if="dati.utente.tappa=='Scoperta'" ng-src="../images/scoperta.jpg">
                    <img  class="listaSentiero" ng-if="dati.utente.tappa=='Competenza'" ng-src="../images/competenza.jpg">

                </div>
            </md-card>


            <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Specialità</span>
                    </md-card-title-text>
                </md-card-title>

                <div class="card-content">
                    <a href="#!/visualizzaCartaSpecialita/{{carta.$id}}" ng-repeat="carta in dati.cartaSpec"
                       ng-if="carta.ragazzo == info.user.codice && carta.attiva == true">
                        <img src="../{{carta.img_url}}" class="listaSentiero" ></img></a>
                </div>

                <br>

                <md-card-actions layout="row" layout-align="end center">
                    <a href="#!/listaSpecialita" >
                        <md-button class="md-primary md-raised" ng-click="showAlert($event,specialita.nome)" aria-label="{{specialita.nome}}">
                            Aggiungi Specialita <md-icon aria-label="Settings" class="material-icons" >add_box</md-icon>
                        </md-button>
                    </a>

                </md-card-actions>
            </md-card>


            <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Brevetti</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-md card-media">

                        </div>
                    </md-card-title-media>
                </md-card-title>
            </md-card>

        </div>
    </md-content>
</div>
