<md-content class="md-padding" layout-xs="column" layout="row" >
    <div flex-xs flex-gt-xs="50" layout="column" ng-controller="aggiornaProfiloRagazzoCtrl as ctrl">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Inserisci le tue informazioni</span>

                </md-card-title-text>
            </md-card-title>
            <br>
            <div class="card-content">
                <md-input-container class="md-block">
                    <label>Inserisci la tua descrizione</label>
                    <input required id="descrizione" name="descrizione" ng-model="dati.bio.descrizione">
                </md-input-container>

                <br/>

                <md-input-container class="md-block">
                    <label>Inserisci ti piace fare</label>
                    <input required id="hobby" name="hobby" ng-model="dati.bio.hobby">
                </md-input-container>

            </div>
            <md-card-actions>
                <md-button class="md-primary md-raised" ng-click="salvaBio()" aria-label="">
                    Salva
                </md-button>
            </md-card-actions>
        </md-card>

        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Carica Foto</span>
                </md-card-title-text>
            </md-card-title>
            <br>
            <div>

            </div>
            <br>
            <md-card-actions>
                <md-button class="md-primary md-raised" ng-click="" aria-label="">
                    Scegli File
                </md-button>
            </md-card-actions>


        </md-card>
    </div>
</md-content>