<md-content class="md-padding" layout-xs="column" layout="row" >

    <div class="alert alert-success alert-dismissible inset" role="alert" ng-if="dati.feedback">{{ dati.feedback }}</div>

    <div flex-xs flex-gt-xs="50" layout="column" ng-controller="aggiornaProfiloRagazzoCtrl as $ctrl">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Parla di te</span>

                </md-card-title-text>
            </md-card-title>
            <br>
            <div class="card-content">
                <md-input-container class="md-block">
                    <label>Come ti descrivi?</label>
                    <input id="descrizione" name="descrizione" ng-model="dati.descrizione" >
                </md-input-container>

                <br><br>

                <md-input-container class="md-block">
                    <label>Cosa ti piace fare?</label>
                    <input id="hobby" name="hobby" ng-model="dati.hobby" >
                </md-input-container>

            </div>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-click="salvaBio()" aria-label="">AGGIORNA</md-button>
            </md-card-actions>
        </md-card>




        <form id="frmFoto" role="form" ng-submit="salvaFoto()">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Foto profilo</span>

                    </md-card-title-text>
                </md-card-title>
                <br>
                <div class="card-content">
                    <div class="knot rot-dx"></div>
                    <div class="knot rot-sx"></div>

                    <div class="md-media-lg card-media " >
                        <img class="img-profile" ng-src="{{info.user.img}}">
                    </div>

                    <file-upload on-change="$ctrl.onChange"></file-upload>
                    <div class="bio">
                        {{dati.uploading}}
                    </div>

                </div>
                <md-card-actions layout="row" layout-align="end center">

                    <md-button type="submit" class="md-primary md-raised">AGGIORNA</md-button>
                </md-card-actions>
            </md-card>
        </form>



        <form id="frmImpegni" role="form" ng-submit="salvaImpegni()">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Foto impegni settimanali</span>

                    </md-card-title-text>
                </md-card-title>
                <br>
                <div class="card-content">
                    <div class="md-media-lg card-media " >
                        <img class="img-impegni" ng-src="{{info.user.img_impegni}}" ng-if="info.user.img_impegni != ''">
                        <div class="" ng-if="info.user.img_impegni == ''">
                            Nessuna immagine presente, scrivi su un foglio la tabella dei tuoi impegni settimanali e
                            caricala qui per averla sempre a portata di mano. Ricordati di aggiornarna di tanto in tanto.
                        </div>
                    </div>

                    <br>
                    <file-upload on-change="$ctrl.onChange"></file-upload>
                    <div class="bio">
                        {{dati.uploading}}
                    </div>

                </div>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button type="submit" class="md-primary md-raised">AGGIORNA</md-button>
                </md-card-actions>
            </md-card>
        </form>
    </div>
</md-content>