<div id="popupContainer">
<md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Scegli Brevetti</span>
                        <span class="md-subhead"></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="none">
                    <div class="md-media-lg card-media" >

                        <ul class="media-list">
                            <li class="media" ng-repeat="brevetti in dati.brevetti">
                                <b><h3>{{brevetti.nome}}</h3></b>
                                <div class="col media-left">
                                    <img class="media-object img-responsive listaSpecialita" ng-src="../{{brevetti.img_url}}">
                                </div>
                                <div class="col media-left" >
                                    <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
                                        <md-button class="md-primary md-raised" ng-click="showAlert($event,brevetti.nome)" aria-label="{{brevetti.nome}}">
                                            Approfondisci <md-icon aria-label="Settings" class="material-icons" >menu</md-icon>
                                        </md-button>
                                    </div>
                                    <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
                                        <md-card-actions layout="row" layout-align="end center">
                                            <md-button ng-click="scegliSpecialita(specialita.nome)" class="md-raised md-primary" id="btn-salva">Scegli</md-button>
                                        </md-card-actions>
                                    </div>
                                </div>
                            </li>
                        </ul>


                    </div>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>