<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Scrapbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="style.css">


    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>


    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    <script src="app.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="ragazzo/sentiero/sentiero.js"></script>
    <script src="ragazzo/profilo/profilo.js"></script>
    <script src="capo/fiamma/fiamma.js"></script>
    <script src="login/login.js"></script>
    <script src="capo/homeCapo/homeCapo.js"></script>
    <script src="components/authentication/authentication.js"></script>
    <script src="components/authentication/authentication-service.js"></script>
    <script src="capo/registrazioneRagazzo/registrazioneRagazzo.js"></script>
    <script src="components/registration/utente.js"></script>
    <script src="components/registration/registrazione-ragazzo-service.js"></script>
    <script src="components/squadriglia/squadriglia.js"></script>
    <script src="components/squadriglia/squadriglia-service.js"></script>
    <script src="components/squadriglia/fiamma-service.js"></script>
    <script src="ragazzo/sentiero/listaSpecialita/listaSpecialita.js"></script>
    <script src="registrationView/registrationView.js"></script>
    <script src="capo/formaSquadriglie/formaSquadriglie.js"></script>
    <script src="capo/staff/staff.js"></script>
    <script src="components/registration/utenti-service.js"></script>
    <script src="components/evento/evento.js"></script>
    <script src="components/evento/evento-service.js"></script>
    <script src="capo/assegnaTappa/assegnaTappa.js"></script>


</head>
<body ng-app="myApp" ng-controller="AppCtrl1">
<div ng-controller="LogCtrl">

    <header ng-cloak>
        <md-content>
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
                        <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
                    </md-button>

                    <md-input-container md-no-float class="md-block">
                        <input type="text" placeholder="Cerca" class="search">
                    </md-input-container>

                    <md-button class="md-icon-button" aria-label="Events" ng-click="eventi()" ng-hide="isOpenRight()"
                               class="md-primary">
                        <md-icon aria-label="Event" class="material-icons">event</md-icon>
                    </md-button>

                    <md-button class="md-icon-button" aria-label="Notifications" ng-click="notifiche()"
                               ng-hide="isOpenRight()" class="md-primary">
                        <md-icon aria-label="Notifications" class="material-icons">notifications</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
        </md-content>
    </header>


    <br><br><br>
    <div ng-view>
        <!-- QUI DENTRO CI SONO LE VIEW CARICATE DINAMICAMENTE SE E' STATO FATTO IL LOGIN-->
    </div>


    <section layout="row" flex ng-controller="LeftCtrl">
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">

            <!-- toolbar della sidenav -->
            <md-toolbar class="md-theme-indigo">

                <div class="md-toolbar-tools">


                    <md-button ng-click="close()" class="md-icon-button" aria-label="Home">
                        <a href="#/index.html">
                            <md-icon aria-label="Home" class="material-icons">home</md-icon>
                        </a>
                    </md-button>

                    <h1 flex md-truncate><a class="logotype" href="#/index.html" ng-click="close()">SCRAPBOOK</a></h1>

                    <md-button ng-click="close()" class="md-icon-button" aria-label="Home">
                        <a href="#!/login">
                            <md-icon aria-label="Logout" class="material-icons">exit_to_app</md-icon>
                        </a>
                    </md-button>


                </div>
            </md-toolbar>

            <!-- Voci del menu laterale -->
            <md-content layout-padding>


                <div layout="row">
                    <div flex="none">
                        <img class="user-img" src="../images/1239822.jpg">
                    </div>
                    <div flex>
                        <h4 class="user-name">
                            Federico
                            <br>
                            Sanfilippo
                        </h4>
                        <h4 ng-if="isLogged()">
                            LOGGATO
                        </h4>
                        <button class="center-block btn btn-danger" ng-click="logout();">Logout</button>
                    </div>
                </div>


                <div class="menu-laterale">


                    <!-- MENU CAPO -->
                    <ul>
                        <li>
                            <a href="#!/" ng-click="close()">
                                <md-icon aria-label="Event Range" class="material-icons">event_range</md-icon>
                                Scadenze Ragazzi</a>
                        </li>
                        <md-divider ng-if="!$last"></md-divider>
                        <li>
                            <a href="#!/" ng-click="close()">
                                <md-icon aria-label="Beenhere" class="material-icons">beenhere</md-icon>
                                Conferma Obiettivi</a>
                        </li>
                        <md-divider ng-if="!$last"></md-divider>
                        <li>
                            <a href="#!/assegnaTappa" ng-click="close()">
                                <md-icon aria-label="Verified User" class="material-icons">verified_user</md-icon>
                                Assegnazione Ruoli</a>
                        </li>
                        <md-divider ng-if="!$last"></md-divider>
                        <li>
                            <a href="#!/fiamma" ng-click="close()">
                                <md-icon aria-label="Flag" class="material-icons">flag</md-icon>
                                Assegnazione Fiamma</a>
                        </li>
                        <md-divider ng-if="!$last"></md-divider>
                        <li>
                            <a href="#" ng-click="close()" class="not-active">
                                <md-icon aria-label="Event" class="material-icons not-active">event</md-icon>
                                Eventi</a>
                        </li>
                        <md-divider ng-if="!$last"></md-divider>
                        <li>
                            <a href="#" ng-click="close()" class="not-active">
                                <md-icon aria-label="Forum" class="material-icons not-active">forum</md-icon>
                                Conversazioni</a>
                        </li>
                        <md-divider ng-if="!$last"></md-divider>
                        <li>
                            <a href="#!/staff" ng-click="close()">
                                <md-icon aria-label="Group Add" class="material-icons">group_add</md-icon>
                                Forma Staff</a>
                        </li>
                        <md-divider ng-if="!$last"></md-divider>
                        <li>
                            <a href="#!/registrazioneRagazzo" ng-click="close()">
                                <md-icon aria-label="Person Add" class="material-icons">person_add</md-icon>
                                Aggiungi Ragazzo</a>
                        </li>
                        <md-divider ng-if="!$last"></md-divider>
                        <li>
                            <a href="#!/formaSquadriglie" ng-click="close()">
                                <md-icon aria-label="Group Add" class="material-icons">group_add</md-icon>
                                Forma Squadriglie</a>
                        </li>
                    </ul>


                    <!-- MENU RAGAZZO -->
                    <ul>
                        <li>
                            <a href="#!/sentiero" ng-click="close()">
                                <md-icon aria-label="Beenhere" class="material-icons">beenhere</md-icon>
                                Sentiero</a>
                        </li>
                        <li>
                            <a href="#!/profilo" ng-click="close()">
                                <md-icon aria-label="Person" class="material-icons">person</md-icon>
                                Profilo</a>
                        </li>
                    </ul>

                </div>

            </md-content>


        </md-sidenav>


        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">


            <md-toolbar class="md-theme-indigo">
                <div class="md-toolbar-tools">

                    <!-- TOOLBAR SE SI APRONO LE NOTIFICHE -->
                    <div layout="row" ng-if="data.menu == 'notifications'">
                        <md-icon flex="40" aria-label="Notifications" class="material-icons">notifications</md-icon>
                        <h1 flex="60" style="white-space: nowrap;">Notifiche</h1>
                    </div>

                    <!-- TOOLBAR SE SI APRONO GLI EVENTI -->
                    <div layout="row" ng-if="data.menu == 'events'">
                        <md-icon flex="40" aria-label="Event" class="material-icons">event</md-icon>
                        <h1 flex="60" style="white-space: nowrap;"> Prossimi eventi</h1>
                    </div>
                </div>
            </md-toolbar>

            <md-content ng-controller="RightCtrl" layout-padding>

                <!-- CONTENUTO SE SI APRONO LE NOTIFICHE -->
                <div ng-if="data.menu == 'notifications'">
                    <p>qui ci saranno le notifiche</p>
                </div>


                <!-- CONTENUTO SE SI APRONO GLI EVENTI -->
                <div ng-controller="EventCtrl" ng-if="data.menu == 'events'">
                    <div ng-repeat="evento in dati.eventi  | orderBy:'id'">
                        <div ng-if="evento.tipo == 'single'">
                            <b>{{evento.titolo}}</b> - <i>{{evento.luogo}}</i> - Presenti: {{evento.presenti}}
                            <br>
                            {{evento.giornoInizio}} {{evento.dataInizio}} dalle ore {{evento.oraInizio}} alle
                            {{evento.oraFine}}
                        </div>
                        <div ng-if="evento.tipo == 'range'">
                            <b>{{evento.titolo}}</b> - <i>{{evento.luogo}}</i> - Presenti: {{evento.presenti}}
                            <br>
                            Da {{evento.giornoInizio}} {{evento.dataInizio}} a {{evento.giornoFine}} {{evento.dataFine}}
                        </div>
                        <br>
                        <md-divider ng-if="!$last"></md-divider>
                        <br>
                    </div>
                </div>


            </md-content>
        </md-sidenav>
    </section>


</div>
</body>
</html>