<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Scrapbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="style.css">


    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>


    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    <script src="app.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="ragazzo/sentiero/sentiero.js"></script>
    <script src="ragazzo/profilo/profilo.js"></script>
    <script src="capo/fiamma/fiamma.js"></script>
    <script src="login/login.js"></script>
    <script src="capo/homeCapo/homeCapo.js"></script>
    <script src="registrationView/registrationView.js"></script>
    <script src="components/authentication/authentication.js"></script>
    <script src="components/authentication/authentication-service.js"></script>
    <script src="capo/registrazioneRagazzo/registrazioneRagazzo.js"></script>
    <script src="components/registration/utente.js"></script>
    <script src="components/registration/registrazione-ragazzo-service.js"></script>
    <script src="components/squadriglia/squadriglia.js"></script>
    <script src="components/squadriglia/squadriglia-service.js"></script>
    <script src="components/squadriglia/fiamma-service.js"></script>
    <script src="ragazzo/sentiero/listaSpecialita/listaSpecialita.js"></script>
    <script src="registrationView/registrationView.js"></script>

</head>
<body ng-app="myApp" ng-controller="AppCtrl1">

<header  ng-cloak>
    <md-content>
        <md-toolbar class="md-hue-2" >
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
                    <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
                </md-button>

                <md-input-container md-no-float class="md-block">
                    <input type="text" placeholder="Cerca">
                </md-input-container>

                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon aria-label="Event" class="material-icons">event</md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
                    <md-icon aria-label="Notifications" class="material-icons">notifications</md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </md-content>
</header>




<br><br><br>
<div ng-view >
    <!-- QUI DENTRO CI SONO LE VIEW CARICATE DINAMICAMENTE -->
</div>



<section layout="row" flex ng-controller="LeftCtrl">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">

        <!-- toolbar della sidenav -->
        <md-toolbar class="md-theme-indigo">

            <div class="md-toolbar-tools">
                <h1 flex md-truncate ><a class="logotype" href="#/index.html" ng-click="close()" >SCRAPBOOK</a></h1>

                <md-button ng-click="close()"  class="md-icon-button" aria-label="Home">
                    <a href="#/index.html" >
                        <md-icon aria-label="Home" class="material-icons" >home</md-icon>
                    </a>
                </md-button>


            </div>
        </md-toolbar>

        <!-- Voci del menu laterale -->
        <md-content layout-padding >

            <div >
                <h4 class="user-name">Federico</h4>
                <img class="user-img" src="../images/default_profile.png">
            </div>

            <!-- MENU RAGAZZO -->
            <ul>
                <li>
                    <a href="#!/sentiero" ng-click="close()" >
                        <md-icon aria-label="eenhere" class="material-icons" >beenhere</md-icon> Sentiero</a>
                </li>
                <li>
                    <a href="#!/profilo" ng-click="close()" ><md-icon aria-label="Person" class="material-icons" >person</md-icon> Profilo</a>
                </li>
            </ul>

            <!-- MENU CAPO -->
            <ul>
                <li>
                    <a href="#" ng-click="close()" ><md-icon aria-label="People" class="material-icons" >people</md-icon> Ragazzi</a>
                    <ul>
                        <li>
                            <a href="#!/fiamma" ng-click="close()" ><md-icon aria-label="Flag" class="material-icons" >flag</md-icon> Fiamma</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" ng-click="close()"  class="not-active"><md-icon aria-label="Event" class="material-icons not-active">event</md-icon> Eventi</a>
                </li>
                <li>
                    <a href="#" ng-click="close()" class="not-active"><md-icon aria-label="Forum" class="material-icons not-active" >forum</md-icon> Conversazioni</a>
                </li>
                <li>
                    <a href="#" ng-click="close()" ><md-icon aria-label="Settings" class="material-icons" >settings</md-icon> Impostazioni</a>
                    <ul>
                        <li>
                            <a href="#!/registrazioneRagazzo" ng-click="close()" ><md-icon aria-label="Person Add" class="material-icons" >person_add</md-icon> Aggiungi Ragazzo</a>
                        </li>
                    </ul>
                </li>
            </ul>




        </md-content>
    </md-sidenav>




    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

        <md-toolbar class="md-theme-indigo">
            <div class="md-toolbar-tools">
                <h1 flex md-truncate>Notifiche</h1>

                <a href="#" ng-click="close()" >
                    <md-icon aria-label="Clear" class="material-icons" >clear</md-icon>
                </a>

            </div>
        </md-toolbar>

        <md-content ng-controller="RightCtrl" layout-padding>
            <md-button ng-click="close()" class="md-primary">
                <md-icon class="material-icons" aria-label="Clear">clear</md-icon>
            </md-button>
            <md-button class="md-primary">
                <a href="#!/registrationView">Registrazione</a>
            </md-button>
        </md-content>
    </md-sidenav>
</section>





</body>
</html>