@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css?family=Baloo&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic');

a.logotype, a.logotype:visited, a.logotype:active, a.logotype:hover {
    font-family: 'Baloo', cursive;
    text-decoration: none;
    color: #f7f7f7;
}


body {
    background-color: #fafafa!important;
}
.md-block {
    margin-top: 0;
    margin-bottom: 15px;
    height: 20px;
}
._md {
    overflow: hidden;
}

.user-name{
    margin: 0;
    padding: 5% 0;
    text-align: center;
    color: white;

    background: #B2FF59; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #4CAF50, #B2FF59); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #4CAF50, #B2FF59); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #4CAF50, #B2FF59); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #4CAF50, #B2FF59); /* Standard syntax (must be last) */
}
.user-img{
    width: 20%;
}

.not-active {
    pointer-events: none;
    cursor: default;
    color: lightgray;
}

.card-content {
    padding: 0 16px;
}

md-input-container.md-default-theme .md-input, md-input-container .md-input {
    color: #f7f7f7;
}


.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
    color: white;
}

md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar), md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    background-color: #4CAF50;
    color: rgba(255,255,255,0.87);
    position:fixed !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: #4CAF50;
    color: rgba(255,255,255,0.87);
}

/*
PREVENIRE SCROLLING PAGINA QUANDO SIDENAV APERTA
 */
md-backdrop {
    height: 100% !important;
    position: fixed !important;
}
.md-sidenav-left, .md-sidenav-right {
    position: fixed;
}



.ng-scope .layout-column{
height: 100%;
}



/****
    STILE RADIO BUTTONS
 */
md-radio-group.md-default-theme:not([disabled]) .md-primary .md-on, md-radio-group:not([disabled]) .md-primary .md-on, md-radio-group.md-default-theme:not([disabled]).md-primary .md-on, md-radio-group:not([disabled]).md-primary .md-on, md-radio-button.md-default-theme:not([disabled]) .md-primary .md-on, md-radio-button:not([disabled]) .md-primary .md-on, md-radio-button.md-default-theme:not([disabled]).md-primary .md-on, md-radio-button:not([disabled]).md-primary .md-on {
    background-color: #4CAF50;
}
md-radio-group.md-default-theme:not([disabled]) .md-primary .md-checked .md-off, md-radio-group:not([disabled]) .md-primary .md-checked .md-off, md-radio-group.md-default-theme:not([disabled]) .md-primary.md-checked .md-off, md-radio-group:not([disabled]) .md-primary.md-checked .md-off, md-radio-group.md-default-theme:not([disabled]).md-primary .md-checked .md-off, md-radio-group:not([disabled]).md-primary .md-checked .md-off, md-radio-group.md-default-theme:not([disabled]).md-primary.md-checked .md-off, md-radio-group:not([disabled]).md-primary.md-checked .md-off, md-radio-button.md-default-theme:not([disabled]) .md-primary .md-checked .md-off, md-radio-button:not([disabled]) .md-primary .md-checked .md-off, md-radio-button.md-default-theme:not([disabled]) .md-primary.md-checked .md-off, md-radio-button:not([disabled]) .md-primary.md-checked .md-off, md-radio-button.md-default-theme:not([disabled]).md-primary .md-checked .md-off, md-radio-button:not([disabled]).md-primary .md-checked .md-off, md-radio-button.md-default-theme:not([disabled]).md-primary.md-checked .md-off, md-radio-button:not([disabled]).md-primary.md-checked .md-off {
    border-color: #4CAF50;
}



.radioButtondemoBasicUsage body {
    padding: 20px; }

.radioButtondemoBasicUsage hr {
    margin-left: -20px;
    opacity: 0.3; }

.radioButtondemoBasicUsage md-radio-group {
    width: 150px; }

.radioButtondemoBasicUsage p:last-child {
    padding-bottom: 50px; }

.radioButtondemoBasicUsage [ng-controller] {
    padding: 0 20px; }

.radioButtondemoBasicUsage .radioValue {
    margin-left: 5px;
    color: #0f9d58;
    font-weight: bold;
    padding: 5px; }

.radioButtondemoBasicUsage md-icon {
    margin: 0 20px 20px;
    width: 128px;
    height: 128px; }

.radioButtondemoBasicUsage .ipsum {
    color: saddlebrown;
    font-size: 0.9em; }



/******
    BUTTONS
 */

.md-button.md-primary.md-raised{
    background-color: #4CAF50!important;
}
.buttondemoBasicUsage section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px; }

.buttondemoBasicUsage md-content {
    margin-right: 7px; }

.buttondemoBasicUsage section .md-button {
    margin-top: 16px;
    margin-bottom: 16px; }

.buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    font-size: 14px;
    opacity: 0.54; }

/*********
    INPUT ERRORS
 */
.inputdemoErrors .inputErrorsApp {
    min-height: 48px; }

.inputdemoErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%; }