<md-content class="md-padding" layout-xs="column" layout="row">

    <div class="alert alert-success alert-dismissible inset" role="alert" ng-if="dati.feedback">{{ dati.feedback }}</div>

    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Conferma scadenze</span>
                    <span class="md-subhead">delle specialità dei ragazzi</span>
                </md-card-title-text>
                <hr>
            </md-card-title>


            <div class="card-content">
                <div>Qui di seguito vedrai solo le scadenze che hanno già superato la deadline, e per ogni ragazzo potrai confermarla abilitando il toggle.</div>
                <br>

                <div>Dopodiché sparirà dall'elenco.</div>
                <br><br>



                <div layout="row" layout-wrap ng-repeat="scadenza in dati.scadenze  | orderBy:'nome_ragazzo'" >
                        <div flex="30" ng-repeat="specialita in dati.specialita" ng-if="specialita.nome == scadenza.nome_specialita">
                                <img class="media-object img-responsive listaSpecialita" ng-src="../{{specialita.img_url}}">
                        </div>
                        <div flex="70">
                            <div flex="40">
                                <b>{{scadenza.nome_ragazzo}}</b> - {{scadenza.nome_specialita}}
                            </div>
                            <div flex>
                                <md-switch class="md-primary" md-no-ink ng-model="utente.staff" id="{{utente.codice}}" aria-label="{{utente.codice}}" >
                                </md-switch>
                            </div>
                            <div flex>
                                <i>{{scadenza.azione}}</i>
                            </div>
                            <div flex>
                                La scadenza era: <i>{{scadenza.deadline}}</i> giorni fa
                            </div>
                            <br><br>
                        </div>

                </div>



            </div>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="salvaStaff()" class="md-raised md-primary" id="btn-salva">Salva</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

