<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Scegli Maestro</span>
                    <br/>
                    <md-radio-group ng-model="dati.utente.codice" >
                        <md-radio-button class="md-primary" ng-repeat="ragazzo in dati.utente" value="{{ragazzo}}" ng-if="ragazzo.ruolo == 'ragazzo' && ragazzo.logged==false">
                            <b>{{ragazzo.nome}}</b> {{ragazzo.cognome}}
                        </md-radio-button>
                    </md-radio-group>
                </md-card-title-text>
            </md-card-title>
            <md-card-action>
                <md-card-actions layout="row" layout-align="end center">
                    <a href="#!/sentiero"><md-button ng-click="salvaCartaSpecialita()" class="md-raised md-primary" id="btn-salva">Salva</md-button></a>
                </md-card-actions>
            </md-card-action>
        </md-card>
    </div>
</md-content>