<md-content class="md-padding" layout-xs="column" layout="row" >

    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="error">{{ error.message }}</div>
    <div class="alert alert-success alert-dismissible inset" role="alert" ng-if="dati.feedback">{{ dati.feedback }}</div>

    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>


            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Profilo personale capo</span>
                    <span class="md-subhead">di <b>{{dati.user.nome}} {{dati.user.cognome}}</b></span>
                </md-card-title-text>

            </md-card-title>

            <div class="card-content">
                <div>
                    Codice socio: {{dati.user.codice}}
                </div>
                <div ng-if="dati.user.staff == true">
                    Staff: Stella Polare
                </div>
                <div>
                    Email: {{dati.user.email}}
                </div>
                <br><br>

                <div class="knot rot-dx"></div>
                <div class="knot rot-sx"></div>

                <div class="md-media-lg card-media " ng-if="dati.user.img == true">
                    <img class="img-profile" ng-src="../images/{{dati.user.codice}}.jpg">
                </div>
                <div class="md-media-lg card-media " ng-if="dati.user.img == false">
                    <img class="img-profile" ng-src="../images/default_profile.png">
                </div>


                <div layout="row" layout-wrap class="camicia">
                    <div flex="100">
                        <img ng-src="../images/fis.jpg" class="fis">
                    </div>
                    <div flex="50">
                        <img ng-src="../images/wosm.png" class="internazionale" ng-if="dati.user.sesso == 'M'">
                        <img ng-src="../images/wagggs.png" class="internazionale" ng-if="dati.user.sesso == 'F'">
                    </div>
                    <div flex="50">
                        <img ng-src="../images/promessa.png" class="promessa">
                    </div>
                </div>

            <br>
            </div>
            <md-card-actions layout="row" layout-align="end center" >
                <md-button ng-click="logout()" class="md-raised md-warn" ng-if="dati.user.codice == info.user.codice">LOGOUT</md-button>
            </md-card-actions>

        </md-card>
    </div>
</md-content>